<ul class= "list_list <%= cycle('even','odd') %>">

<li>
<strong>Title:</strong>
<%= @article.title %>
</li>
<li>
	<strong>Text:</strong>
	<%= @article.text %>
</li>
</ul>
<h3 class="mid_header_font">Comments</h3>
<ul class="list_list <%= cycle('odd','even') %>">
		<%= render @article.comments %>
</ul>
<%=  render "blorgh/comments/form"%>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

