
	<!--################################################################# -->
	<%content_for :edit do %>
		  <span class="glyphicon glyphicon-pencil"></span>
		<% end %>

<nav class="navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		  	<%if logged_in?  %>
					<a class="navbar-brand" href="#">
						<%= gravatar_for current_author %>
					</a>
			<% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li class="active"><a href="<%= root_url %>">
						<span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)></span>
					</a></li>
        <li><%= link_to "Articles", articles_path %></li>

					<%if logged_in?%>
					<li class="dropdown">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<%# icon class always first %>
						<%=glyph_helper_word("user","Profile")%><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%= glyph_menu_to("pencil",edit_author_path(current_author),'edit','get')%></li>
								<li><%=glyph_menu_to('lock',logout_path, 'logut out' "delete") %></li>
								<li><%= glyph_menu_to('book', author_articles_path(current_author, 'articles', 'get')) %></li>
								<li><%=  glyph_menu_to("glass", author_comments_path(current_author), 'comments', 'get') %></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						<% else %>
								<li><a href="<%= login_path %>">login</a></li>
						<%end%>

					</li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
					<%= glyph_helper("search") %>
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div><!-- /.container-fluid -->
</nav>






