<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'blorgh/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'blorgh/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if logged_in? %>
		<%=link_to "Log out", logout_path, method: "delete" %>
  <% else %>
		<%= link_to "Log in", login_path %>
	<% end %>
	<div class="container-fluid">
		<div class="row">
				<div class="col-sm-10 text-center center col-centered">
					<%= render 'layouts/blorgh/menu' %>
				 .
				<%= render 'layouts/blorgh/flash' %>
					<%= yield %>
			</div>
    </div>
	</div>

		</div>
	</div>
</body>
</html>
