<%= form_for(comment_path(article_id: @article.id)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :text %><br>
    <%= f.text_area :text, class:'form-control' %>
    <%= f.submit, class:'btn' %>
<% end %>
